@import "tailwindcss";

.footer-link {
  position: relative;
  display: inline-block;
}

.footer-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: #38b2ac; /* teal-400 */
  transition: width 0.3s ease;
}

.footer-link:hover::after {
  width: 100%;
}
